@{
    var cart = new Seunghoon_Lee_P1.Models.DomainModels.Order(Context);

    var current = ViewContext.RouteData.Values["area"]?.ToString() ??
      ViewContext.RouteData.Values["controller"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pavols Book Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-10">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LEE'S GUITAR</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="menu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="ProductList">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Store" asp-action="StoreList">Stores</a>
                        </li>
                        
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">Cart</a>
                        </li>

                        @using Microsoft.AspNetCore.Identity
                        @inject SignInManager<Seunghoon_Lee_P1.Models.DomainModels.User> signInManager
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-controller="Account" asp-action="LogOut" asp-area="">
                                    <input type="submit" value="Log Out" class="btn btn-outline-light" />
                                    <span class="text-light">@User.Identity.Name</span>
                                </form>
                            </li>
                        }
                        else
                        {
                            var action = ViewContext.RouteData.Values["action"]?.ToString();

                            <li class="nav-item @Seunghoon_Lee_P1.Models.ViewModels.Nav.Active("Register",action)">
                                <a asp-controller="Account" asp-action="Register" asp-area="" class="nav-link">
                                    <span class="fas fa-edit"></span>&nbsp;Register
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Login" asp-area="" class="btn btn-outline-light">Log In</a>
                            </li>
                        }

                        <li class="nav-item @Seunghoon_Lee_P1.Models.ViewModels.Nav.Active("Admin", current)">
                            <a class="nav-link" asp-area="Admin" asp-controller="Book" asp-action="Index">
                                <span class="fas fa-cog"></span>&nbsp;Admin
                            </a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData.Keys.Contains("message"))
            {
                <h4 class="bg-info text-center text-white p-2">@TempData["message"]</h4>
            }
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Seunghoon_Lee_P1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
